MYSQL_DATABASE=export_flow
MYSQL_USER=export_flow
MYSQL_PASSWORD=export_flow
MYSQL_ROOT_PASSWORD=root
RABBITMQ_DEFAULT_USER=export_flow
RABBITMQ_DEFAULT_PASS=export_flow
RABBITMQ_ERLANG_COOKIE=export-flow-local-cookie
EXPORT_STORAGE_ROOT=/data/exports
APP_SEED_ORDERS=100000
